USE [ControlMarcaje]
GO
/****** Object:  StoredProcedure [dbo].[sp_calcula_horas_dia_V2]    Script Date: 29/09/2026 2:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_calcula_horas_dia_V2]
    @EmpresaId INT,
    @Fecha     DATE
AS
BEGIN
    SET NOCOUNT ON;
    --Declaracion de Variable para control de fecha en turnos Nocturnos
    DECLARE @InicioDia DATETIME2(0) = CAST(@Fecha AS DATETIME2(0));
    DECLARE @DiaSiguiente DATETIME2(0) = DATEADD(DAY, 1, @InicioDia);
    DECLARE @DosDias DATETIME2(0) = DATEADD(DAY, 2, @InicioDia);

    SELECT
        t.TrabajadorId,
        t.Rut,
        t.Nombre,
        tu.Nombre AS Turno,

        mar.Entrada,
        mar.Salida,

        CAST(
            CASE
                WHEN mar.Entrada IS NULL
                  OR mar.Salida IS NULL
                    THEN 0.00

                ELSE DATEDIFF(MINUTE, mar.Entrada, mar.Salida) / 60.0
            END
            AS DECIMAL(5,2)
        ) AS HorasTrabajadas, --Columna con informacion de horas y 0.00 en caso de tener otro valor

        CASE
            WHEN mar.Entrada IS NULL
                THEN 0

            WHEN mar.Entrada > horario.EntradaProgramada
                THEN DATEDIFF(
                    MINUTE,
                    horario.EntradaProgramada,
                    mar.Entrada
                )

            ELSE 0
        END AS AtrasoMin,--Mismo caso que con las horas trabajadas, en 0 para casos igual o sin valor

        CASE
            WHEN mar.Entrada IS NULL
                THEN 'Ausente'

            WHEN mar.Salida IS NULL
                THEN 'Sin salida'

            ELSE 'Completo'
        END AS Estado --Estado del marcaje segun la tabla generada "mar"

    FROM dbo.Trabajador t

    INNER JOIN dbo.TrabajadorTurno tt
        ON tt.TrabajadorId = t.TrabajadorId
       AND tt.Fecha = @Fecha -- Parametro de entrada de la fecha para determinar el dia

    INNER JOIN dbo.Turno tu
        ON tu.TurnoId = tt.TurnoId
--formato y hora de ingreso segun turno
    CROSS APPLY
    (
        SELECT
            DATEADD(
                SECOND,
                DATEDIFF(
                    SECOND,
                    CAST('00:00:00' AS TIME),
                    tu.HoraEntrada
                ),
                @InicioDia
            ) AS EntradaProgramada
    ) horario 
--seccion para deteerminar la hora de entrada segun turno
    OUTER APPLY
    (
        SELECT
            MIN(
                CASE
                    WHEN m.Tipo = 'E'
                     AND m.FechaHora >= @InicioDia
                     AND m.FechaHora < @DiaSiguiente
                    THEN m.FechaHora
                END
            ) AS Entrada,

            MAX(
                CASE
                    WHEN m.Tipo = 'S'
                    THEN m.FechaHora
                END
            ) AS Salida

        FROM dbo.Marcacion m

        WHERE m.TrabajadorId = t.TrabajadorId

          AND
          (
              -- Entrada: siempre corresponde al día del turno
              (
                  m.Tipo = 'E'
                  AND m.FechaHora >= @InicioDia
                  AND m.FechaHora < @DiaSiguiente
              )

              OR

              -- Salida turno normal: mismo día
              (
                  m.Tipo = 'S'
                  AND tu.CruzaMedianoche = 0
                  AND m.FechaHora >= @InicioDia
                  AND m.FechaHora < @DiaSiguiente
              )

              OR

              -- Salida turno nocturno: día siguiente
              (
                  m.Tipo = 'S'
                  AND tu.CruzaMedianoche = 1
                  AND m.FechaHora >= @DiaSiguiente
                  AND m.FechaHora < @DosDias
              )
          )

    ) mar
    --parametro de entrada empresa
    WHERE t.EmpresaId = @EmpresaId
      AND t.Activo = 1

    ORDER BY t.Nombre;
END
